:root {
  --primary-color-token: #000000;
  --secondary-color-token: #424242;
  --tertiary-color-token: #646464;
  --inverse-color-token: #ffffff;
  --accent-color-token: #a481fd;
  --accent-primary-tint-color-token: #552faf;
  --contrast-immutable-color-token: #ffffff;
  --overlay-color-token: rgba(0, 0, 0, 0.56);
  --placeholder-color-token: #646464;
}
